# Dependencias
node_modules/

# Build de producción
dist/
build/

# Archivos de configuración locales
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
